@font-face {
  font-family: EraserRegular;
  src: url('./fonts/EraserRegular.ttf')
}
@font-face {
  font-family: EraserDust;
  src: url('./fonts/EraserDust.ttf')
}

body {
background-image: url("images/puzzlebg.jpg");
top: 0;
left: 0;
}

#homebuttons {
  background-image: url("images/board-v3.jpg");
  width: 85%;
  height: 85%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 4px 6px #1B1A1A;
  border-style: solid;
  border-radius: 15px;
  border-width: 10px 20px;
  border-color:  rgba(216,113,26, 0.95);
}
.app-title {
  font-family: EraserDust;
  font-size: 125px;
  color: #fff;
  margin: 10px 0;
  text-transform: uppercase;
}
.app-title .blue {
  color: #938FD6;
}
