@font-face {
  font-family: EraserRegular;
  src: url('./fonts/EraserRegular.ttf')
}
@font-face {
  font-family: EraserDust;
  src: url('./fonts/EraserDust.ttf')
}
body {
  background-image: url("images/puzzlebg.jpg");
  top: 0;
  left: 0;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.category-title {
  font-family: EraserDust;
  color: #938FD6;
  text-transform: uppercase;
  font-size: 50px;
  display: inline-block;
  margin: 20px auto;
}
.clearfix {
  display: block;
}
.clearfix:after {
  display: block;
  clear: both;
  content: '';
}
.category-title .title {
  margin: 0 10px;
}
.category-title .actions {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-top: 5px;
}
.category-title .actions img {
  max-width: 100%;
  max-height: 100%;
  width: auto!important;
  height: auto!important;
}

.categories {
  background-image: url("images/board-v3.jpg");
  border-style: solid;
  border-radius: 15px;
  border-width: 10px 20px;
  border-color:  rgba(216,113,26, 0.95);
  max-width: 85%;
  min-width: 85%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: auto;
  overflow-x:hidden;
  white-space:nowrap;
  box-shadow: 0px 4px 6px #1B1A1A;
  padding: 0 10px;

  position: fixed;
  bottom: 32%;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
}

.sentence {
  background-image: url("images/board-v3.jpg");
  border-style: solid;
  border-radius: 15px;
  border-width: 10px 20px;
  border-color:  rgba(216,113,26, 0.95);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: auto;
  overflow-y:hidden;
  white-space:nowrap;
  box-shadow: 0px 4px 6px #1B1A1A;

  position: fixed;
  bottom: 10px;
  right: 10px;
  left: 10px;
  top: 70%;
  padding: 2%;
}
.sentence #pecs img {
  width: auto!important;
  height: 100%!important;
  margin-right: 5px;
}

#bannerDiv {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}
#bannerDiv:after {
  clear: both;
  content: '';
  display: block;
}
#bannerDiv > .banner-container {
  width: 108px;
  height: 90px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 12px;
  float: left;
  background: rgba(0,0,0,0.45);
  overflow: hidden;
  border-radius: 4px;
  cursor: pointer;
}
#bannerDiv > .banner-container:hover {
  background: rgba(0,0,0,0.25);
}
.banner-container img {
  max-width: 100%;
  height: auto;
  position: relative;
  top: 50%;
  transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -webkit-transform:translateY(-50%);
}
.banner-container {
  position: relative;
}
.banner-container .rm-pic {
  position: absolute;
  right: 2px;
  top: 2px;
  height: 25px;
  width: 25px;
  background-image: url("./images/close-icon.png");
  outline: none;
  background-color: transparent;
  border: none;
  padding: 0px;
  background-size: 50px;
  background-position: center;
  z-index: 10;
  opacity: 0.55;
  cursor: pointer;
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  filter: invert(100%);
}
.banner-container:hover .rm-pic {
  display: block;
}
.banner-container .rm-pic:hover {
  opacity: 1;
}

@media only screen and (max-width: 480px) {
  .categories img {
    width: 24%!important;
  }
  .banner-container img {
    width: auto!important;
  }
  .sentence {
    padding: 3%;
  }
}
@media only screen and (max-width: 768px) {
  .category-title {
    font-size: 45px;
    margin: 10px 0px 10px 0px;
  }
  .category-title .actions {
    height: 35px;
    width: 35px;
  }
  #bannerDiv > .banner-container {
    width: 63px;
    height: 45px;
  }
}
