﻿body {
background-image: url("images/puzzlebg.jpg");
top: 0;
left: 0;
}

.instructions {
  background-image: url("images/board-v3.jpg");
  width: 85%;
  height: 85%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 4px 6px #1B1A1A;
  border-style: solid;
  border-radius: 15px;
  border-width: 10px 20px;
  border-color:  rgba(216,113,26, 0.95);
}

/*.forchoices {
background-image: url("images/board.png");
width: 95%;
height: 27%;
background-repeat: no-repeat;
background-position: center;
background-size: 100% 100%;
}*/
.forchoices {
  background-image: url("images/board-v3.jpg");
  border-style: solid;
  border-radius: 15px;
  border-width: 10px 20px;
  border-color:  rgba(216,113,26, 0.95);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: auto;
  overflow-y:hidden;
  white-space:nowrap;
  box-shadow: 0px 4px 6px #1B1A1A;

  position: fixed;
  bottom: 10px;
  right: 10px;
  left: 10px;
  top: 70%;
  padding: 2%;
}
.forchoices img {
  width: auto!important;
  height: 100%!important;
  margin-right: 5px;
}

.questions {
  background-image: url("images/board-v3.jpg");
  border-style: solid;
  border-radius: 15px;
  border-width: 10px 20px;
  border-color:  rgba(216,113,26, 0.95);
  max-width: 85%;
  min-width: 85%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 4px 6px #1B1A1A;
  padding: 0 10px;

  position: fixed;
  bottom: 32%;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
}

.table {
width: 90%;
display: table;
margin-right: auto;
margin-left: auto;
}

.tablecell{
display:table-cell;
text-align:center;
color:white;
}
